pkgbase = nanoleaf-kde-sync
	pkgdesc = Nanoleaf screen mirroring for KDE Plasma on Linux.
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/SpinGiantCRM/Nanoleaf-Screen-Mirror-for-KDE
	install = nanoleaf-kde-sync.install
	arch = x86_64
	license = custom:Nanoleaf-Source-Available-Non-Commercial
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-pyqt6
	depends = python-dbus-next
	depends = python-hidapi
	depends = python-dacite
	depends = python-tomli-w
	source = nanoleaf-kde-sync-1.5.0.tar.gz::https://github.com/SpinGiantCRM/Nanoleaf-Screen-Mirror-for-KDE/archive/refs/tags/v1.5.0.tar.gz
	sha256sums = 04325e61f0c8b12f05d1e422a84608f339dfd7916b4c38584c60b3bb07c69ca4

pkgname = nanoleaf-kde-sync
