pkgbase = nanoleaf-kde-sync
	pkgdesc = Nanoleaf screen mirroring for KDE Plasma on Linux.
	pkgver = 1.9.1
	pkgrel = 1
	url = https://github.com/SpinGiantCRM/Nanoleaf-Screen-Mirror-for-KDE
	install = nanoleaf-kde-sync.install
	arch = x86_64
	license = custom:Nanoleaf-Source-Available-Non-Commercial
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-pyqt6
	depends = python-dbus-next
	depends = python-hidapi
	depends = python-dacite
	depends = python-tomli-w
	source = nanoleaf-kde-sync-1.9.1.tar.gz::https://github.com/SpinGiantCRM/Nanoleaf-Screen-Mirror-for-KDE/archive/refs/tags/v1.9.1.tar.gz
	sha256sums = 6978f5d242c78fc1d209edb5479e1888a357996fb2525c7eb187b1ccae6da92c

pkgname = nanoleaf-kde-sync
