[Desktop Entry]
Type=Application
Name=nanoleaf-kde-sync
Comment=Nanoleaf screen mirroring for KDE Plasma on Linux.
Exec=nanoleaf-kde-sync
Icon=nanoleaf-kde-sync
Terminal=false
Categories=System;Utility;
X-KDE-StartupNotify=false
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
